.div_1{
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height:100%;
}
.div_1 img {
  width: 100%;
  height: auto;
}




.div_2 {
}
.div_form{
	//background-color: gray;
	width: 50%;

}

.div_3{
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height:100%;
}

.div_3 img {
  width: 100%;
  height: auto;
}

.div_input{
  margin-bottom: 1%;
  //background-color: red;
  font-size: 0;
}

.input_box {
  font-size: 20px;
	padding-bottom: 2%;
  margin-bottom: 5px;
  width: 40%;
  margin-right:0.5%;
  margin-left:0.5%;
}

.btn_submit{
	width:  82%;
}

.input_contents{
	width: 81.5%;
  font-size: 20px;
	padding-bottom: 5%;
  margin-bottom: 1%;
}