<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{  site.baseurl  }}/assets/css/styles.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    if(typeof jQuery!=='undefined'){
    console.log('jQuery Loaded');
    }
    else{
    console.log('not loaded yet');
    }
    function test(){
        var formData = $("#form1").serialize();
        console.log(formData)
        $.ajax({
            cache : false,
            url : "https://usebasin.com/f/2128d4147f83", // 
            type : 'POST', 
            data : formData, 
            success : function(data) {
                //var jsonObj = JSON.parse(data);
                alert("전송되었습니다")
            }, // success 
    
            error : function(xhr, status) {
                alert(xhr + " : " + status);
            }
        }); // $.ajax */
    }
</script>
</head>
<body>
    <div class="div_1" >
        <img src="{{  site.baseurl  }}/assets/images/bg1.jpg">
    </div>
    <div class="div_2">
        <center>
            <form class="div_form" id="form1" name="form1" method="POST">
                    <div class="div_input">
                      <input class="input_box" type="text" id="name" name="name" placeholder="이름" >
                      <input class="input_box" type="text" id="tel" name="tel" placeholder="연락처" >
                    </div>
                    <input class="input_contents" type="text" id="car" name="car" placeholder="원하는차종" >
                <input class="btn_submit" type="image" src="{{  site.baseurl  }}/assets/images/img_button.jpg" onclick="test(); return false;">
            </form>
        </center>
    {{ content }}
    </div>
    <div class="div_3">
        <img src="{{  site.baseurl  }}/assets/images/bg3.jpg">
    </div>
</body>
</html>


